<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>
</head>
<body>
    <!-- 将 404 页面设置为 公益 404 救助页面 -->
    <script src="//qzonestyle.gtimg.cn/qzone/hybrid/app/404/search_children.js"></script>
</body>
</html>